<%- model_class = Profile -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div>
    <% @sorted_profile.each do |filename, file_profile| %>
    <% if @profile.file_sources[filename] && profile_value_for_sort(file_profile, @sort, @summary) > @minimum %>
    <div>
    <a href="#" class="js-lineprof-file"><%= filename %></a>
    <pre style="display:none; overflow-x: scroll" class="line-profile">
      <div >
        <% @profile.file_sources[filename].split("\n").each_with_index do |line, idx| %>
        <%= raw output_profile_line(line, file_profile['lines'][(idx).to_s]) %>
        <% end %>
      </div>
    </pre>
    </div>
    <% else %>
    <%= filename %>
    <% end %>
    <% end %>
</div>