<div class="hero-unit">
  <h1>Pilfer</h1>
  <p>Look into your ruby with rblineprof.</p>

  <p>
    <%= link_to "Login to this one if it's yours", dashboard_path, :class => "btn btn-primary btn-large" %>
  </p>

  <p>or</p>

  <p>
    <%= link_to "Get your own", "https://github.com/eric/pilfer-server", :class => "btn btn-large" %>
  </p>
</div>
