<%- model_class = App -%>
<div class="page-header">
  <h3>
    <%= @app.name %>
    <%= link_to edit_app_path(@app), :class => 'btn pull-right' do %>
    <i class="icon-wrench"></i> Configure
    <% end %>
  </h3>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:token) %>:</strong></dt>
  <dd><%= @app.token %></dd>
</dl>

