a.js-lineprof-file { display: block }

tbody.view-profile tr.line-profile { display: table-row; }
td { white-space: nowrap; }
th.fill-column { width: 100%; }

tr.line-profile {
  display: none;

  td {
    border-top: none;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align:middle;
    line-height: 0;

    pre {
      background: none;
      border: none;
      padding: 0;
      margin: 0;
      line-height: 1em;
      font-family: Consolas, "Liberation Mono", Courier, monospace;
      font-size: 12px;
    }
  }
}
