body.wall-time {
  th.cpu-time, td.cpu-time { display: none; }
}

body.cpu-time {
  th.wall-time, td.wall-time { display: none; }
}

th.fill-column { width: 100%; }
td { white-space: nowrap; }

table.line-profile {
  // Override table's border style. Only border the table and th bottom.
  border: 1px solid #ddd;
  th { border-left: none; }
  td { border-left: none; }

  th { text-align: center; }
  td.stats {
    text-align: right;

    pre span {
      display: inline-block;
      width: 100%;
    }
  }

  td {
    line-height: 0;
    vertical-align: top;

    pre {
      background: none;
      border: none;
      font-family: Consolas, "Liberation Mono", Courier, monospace;
      font-size: 12px;
      margin: 0;
      padding: 0;
      word-break: normal;
      word-wrap: normal;
    }
  }
}
