a.js-lineprof-file { display: block }

tbody.view-profile tr.line-profile { display: table-row; }
td { white-space: nowrap; }
th.fill-column { width: 100%; }

tr.line-profile {
  display: none;

  table {
    tbody {
      td {
        // Override parent table's striped style.
        border-left: none;
        &:first-child { border-left: 1px solid #ddd; }

        // Breathing room around code.
        &:last-child { padding-left: 8px; }
      }
    }

    td.stats {
      text-align: right;

      pre span {
        display: inline-block;
        width: 100%;
      }
    }

    td {
      line-height: 0;
      vertical-align: top;

      pre {
        background: none;
        border: none;
        font-family: Consolas, "Liberation Mono", Courier, monospace;
        font-size: 12px;
        margin: 0;
        padding: 0;
        word-break: normal;
        word-wrap: normal;
      }
    }
  }
}
